

body{margin: 0px; color: white; background-color: rgb(60, 103, 60);}

#logo{display: block; width: 8rem; margin-left: auto;margin-right: auto;}
.div-options{text-align: center; width: 100%; background-color: rgb(32, 101, 32);}

#footer{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    background-color: rgb(25, 67, 25);}
.footer-text p{
    font-size: 0.8rem;}
#openingstijden{
    margin-top: 0px;
    font-size: 1.3rem;
}

div{
text-align: center; size: 100%;



}
img{
max-height: auto;
max-width: 50%;

}

.container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 4;
}
.item2{
    grid-row-start:1;
    grid-row-end: 4;
}







