body{
background-color:white ;



}
div{
text-align: center; size: 100%;



}
img{
max-height: auto;
max-width: 30%;

}

.container{
      display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
  background-color: rgb(14, 175, 95);
  padding: 5px;
}

