

body{margin: 0px; color: white; background-color: rgb(60, 103, 60);}

#logo{display: block; width: 8rem; margin-left: auto;margin-right: auto;}
.div-options{text-align: center; width: 100%; background-color: rgb(32, 101, 32);}

#footer{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    background-color: rgb(25, 67, 25);}
.footer-text p{
    font-size: 0.9rem;}
#openingstijden{
    margin-top: 0px;
    font-size: 1.3rem;
}

div{
text-align: center; size: 100%;
}

img{
max-height: 10rem;
max-width: 10rem;
}

.container{
    display: grid;
    grid-template-columns:auto auto auto ;
    gap: 2rem;
    background-color:#FFFFFF;
    padding: 5px;
}

.container div {
  background-color: #D9EDB5;
  color: black;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 30px;
}
.item1 {
  grid-row-start:1;
  grid-row-end: 2;
}
.item2{
    grid-row-start:1;
    grid-row-end:3;
}










