body{margin: 0px; color: white; background-color: rgb(60, 103, 60);}

#logo{display: block; width: 8rem; margin-left: auto;margin-right: auto;}
.div-options{text-align: center; width: 100%; background-color: rgb(32, 101, 32);}