/*de body het logo en de div-options kopieren naar je eigen css*/
body{margin: 0px; color: white; background-color: rgb(60, 103, 60);}

#logo{display: block; width: 8rem; margin-left: auto;margin-right: auto;}
.div-options{text-align: center; width:100%; background-color: rgb(25, 67, 25);}


.image-main-big{width: 100%; display: block; height: auto;}
.container-home{
    display: grid;

}
#text-overlay{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}